* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}
body {
  margin: 0;
}
input,
button {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}
button {
  border-color: transparent;
}
input[type="text"] {
  padding: 14px 16px;
  border: 1px solid hsl(270, 3%, 87%);
}
input::placeholder {
  color: hsl(270, 3%, 87%);
}
input:invalid {
  color: hsl(0, 100%, 66%);
}
.main-wrapper {
  width: 375px;
  margin: 0 auto;
}
.images-container {
  background-color: hsl(278, 68%, 11%);
  background-image: url("/images/bg-main-mobile.png");
  height: 240px;
}
.img-wrapper {
  position: relative;
  /*display: inline-block;*/
}
.img-wrapper img,
.overlay-text-card-front {
  height: 158px;
  width: 286px;
  display: block;
}
.bg-card-back {
  position: relative;
  top: 31px;
  right: 17px;
  float: right;
}
.overlay-text-card-back {
  position: absolute;
  top: 103px;
  right: 55px;
  font-size: 9px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1px;
}
.bg-card-front {
  position: relative;
  bottom: 37px;
  left: 15px;
  box-shadow: 0px 48px 100px 0px rgba(17, 12, 46, 0.15);
}
.overlay-text-card-front {
  position: absolute;
  bottom: 37px;
  left: 15px;
}
.cc-logo-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  top: 17px;
  left: 21px;
}
.card-logo {
  background-image: url("/images/card-logo.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 35px;
  background-size: 55px 30px;
}
.overlay-text-wrapper {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  top: 85px;
  color: hsl(0, 0%, 100%);
}
.cc-default-zeros {
  letter-spacing: 2px;
  font-size: 18px;
  height: 15px;
}
.cc-identity {
  display: flex;
  justify-content: space-between;
  font-size: 9px;
  margin-top: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form-wrapper {
  padding: 0 24px;
  margin-top: 93px;
}
.form-item {
  margin: 11px 0;
}
.form-item > label {
  font-size: 0.7em;
  letter-spacing: 2px;
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
  font-weight: bold;
}
.form-item > input {
  margin: 9px 0;
  height: 43px;
  border-color: hsl(270, 3%, 87%);
  border-style: solid;
  font-size: 18px;
}
.remove-margins {
  margin: 0;
}
.add-margin-bottom {
  margin-bottom: 20px;
}
.card-details {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}
.card-details > div:nth-child(1),
.card-details > div:nth-child(2) {
  width: 25%;
}

.card-details > div:nth-child(3) {
  width: 50%;
}
.success-wrapper {
  text-align: center;
}
.success-wrapper img {
  height: 79px;
}
.success-wrapper h2 {
  color: hsl(278, 68%, 11%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 32px;
}
.success-wrapper h4 {
  color: hsl(279, 6%, 55%);
  font-size: 13px;
}
.btn {
  font-size: 1.1em;
  height: 52px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 375px) {
}
